.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!**.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
tmp
tests

# Docker › EdgeDB
edgedb-data/
edgedb-data.backup*/

# Caddy
caddy/data
caddy/config
