.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!**.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
tmp
tests

# Docker › EdgeDB
edgedb-data/
edgedb-data.backup*/

# Docker › Caddy
caddy
caddy_data
caddy_config
