:root {
	--fontFamily-base: 'Barlow', sans-serif;
	--fontFamily-display: 'Izoard', sans-serif;

	--ritual-black: #000;

	--ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	border: none;

	color: inherit;
	font: inherit;
	font-style: normal;
	text-decoration: none;
	transition-timing-function: var(--ease-out-expo);
}

:root {
	color: var(--ritual-black);
	font-family: var(--fontFamily-base);
	font-size: 18px;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}
.row.wrap {
	flex-wrap: wrap;
}

a {
	transition: 0.2s color;
}
a:hover {
	color: #000;
}

button {
	border-radius: 0.2em;
	padding: 0.5em 1em;
	cursor: pointer;
}
